<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Mrken Website
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            #background {
                height: 90px;
                width: 100%;
                object-fit: cover;
            }
           
        </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">MrKen Website</h1>
        <img class="img-fluid" id="background" 
        src="https://github.com/mycynomart/mrken-web/blob/main/static/BG1.jpg" >
        <h2 class="text-center mt-2 mb-4">About Mrken</h2>
        <p class="lead">Introducing a dynamic portfolio website 
        for a career transition from Electrical Engineer to DevOps Engineer. 
        This comprehensive platform showcases the journey of acquiring skills 
        and experience in both fields, highlighting projects completed and 
        technologies mastered. With a modern design and intuitive navigation, 
        this website effectively demonstrates the candidate's adaptability, 
        versatility, and commitment to continuous learning, making it an ideal 
        tool for potential employers to assess their potential as a DevOps 
        professional.
        </p>
        <p>TODO show the jobs</p>
        <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact us</button>
        <p class="mt-4">Copyright 2024, Mrken</p>
        </div>
    </div>

</body>
</html>
